<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="wf-proximanova-n4-active wf-proximanova-n7-active wf-proximanova-i4-active wf-proximanova-i7-active wf-active" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><script src="https://blog.heroku.com/assets/pd.js" type="text/javascript"></script><script src="https://blog.heroku.com/assets/4qH98S.htm" async="" type="text/javascript"></script><script src="https://blog.heroku.com/assets/162276.js" id="hs-analytics"></script><script src="https://blog.heroku.com/assets/ga.js" async="" type="text/javascript"></script><script src="https://blog.heroku.com/assets/analytics.js" async="" type="text/javascript"></script><script src="https://blog.heroku.com/assets/gtm.js" async=""></script><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Heroku | Introducing DigitalOcean Button</title>
	<link href="https://blog.heroku.com/assets/application-21957ee285724514ffd48b6740ce98de.css" media="screen" rel="stylesheet" type="text/css">

	<script src="https://blog.heroku.com/assets/application-e14d071700f15686422b0392c11542ec.js" type="text/javascript"></script>

	<script src="https://blog.heroku.com/assets/lpc2yow.js"></script>
		<style type="text/css">.tk-proxima-nova{font-family:"proxima-nova",sans-serif;}</style><link href="https://blog.heroku.com/assets/d.css" rel="stylesheet"><script>try{Typekit.load();}catch(e){}</script>

	<link href="http://feeds2.feedburner.com/heroku" rel="alternate" title="Primary Feed" type="application/rss+xml">

	<link rel="apple-touch-icon" sizes="57x57" href="https://blog.heroku.com/apple-touch-icons/touch-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://blog.heroku.com/apple-touch-icons/touch-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://blog.heroku.com/apple-touch-icons/touch-icon-114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://blog.heroku.com/apple-touch-icons/touch-icon-144.png">
	<link rel="apple-touch-icon" sizes="512x512" href="https://blog.heroku.com/apple-touch-icons/touch-icon-512.png">

		  <link rel="canonical" href="https://blog.heroku.com/archives/2014/8/7/heroku-button">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">


<script src="https://blog.heroku.com/assets/analytics" type="text/javascript"></script></head>
<body>
	<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-JD26"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-JD26');</script>
<!-- End Google Tag Manager -->

<!-- Start of HubSpot Logging Code  -->
<script type="text/javascript" language="javascript">
var hs_portalid=162276;
var hs_salog_version = "2.00";
var hs_ppa = "heroku.app12.hubspot.com";
document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
</script><script src="https://blog.heroku.com/assets/salog.htm" type="text/javascript"></script>

<script id="" type="text/javascript">piAId="37622";piCId="30300";(function(){function a(){var b=document.createElement("script");b.type="text/javascript";b.src=("https:"==document.location.protocol?"https://pi":"http://cdn")+".pardot.com/pd.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)}window.attachEvent?window.attachEvent("onload",a):window.addEventListener("load",a,!1)})();</script>


<!-- End of HubSpot Logging Code -->

<!-- Start of HubSpot Enterprise Logging Code -->
<script type="text/javascript">
(function() {
 var p = document.createElement('script');
 p.type = 'text/javascript'; p.async = true;
 p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/4qH98S.js';
 var s = document.getElementsByTagName('script')[0];
 s.parentNode.insertBefore(p, s);
})();
</script>
<!-- End of HubSpot Enterprise Logging Code -->

  <header id="page-header">
  <div class="wrapper">
    <h1 id="logo">
      <a href="https://www.heroku.com/home" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;heroku&quot;}">Heroku</a>
    </h1>

    <span class="mobile-nav">Show nav</span>

    <ul>
      <li><a href="https://www.heroku.com/features" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;features&quot;}">Features</a></li>
      <li><a href="https://www.heroku.com/pricing" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;pricing&quot;}">Pricing</a></li>
      <li><a href="https://addons.heroku.com/" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;add-ons&quot;}">Add-ons</a></li>
      <li><a href="https://blog.heroku.com/" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;blog&quot;}">Blog</a></li>
      <li><a href="https://devcenter.heroku.com/" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;documentation&quot;}">Documentation</a></li>
      <li><a href="https://help.heroku.com/" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;support&quot;}">Support</a></li>
      <li><a href="https://www.heroku.com/contact" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;contact&quot;}">Contact</a></li>

        <li class="user sign-up">
          <a href="https://id.heroku.com/" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;log-in&quot;}">Log in</a>
          <span>or</span>
          <a href="https://id.heroku.com/signup" class="sign-up highlight" data-trackable="{&quot;event&quot;:&quot;clicked&quot;,&quot;target&quot;:&quot;nav&quot;,&quot;page&quot;:&quot;sign-up&quot;}">Sign up</a>
        </li>
    </ul>
  </div>
</header>


	<div class="content">

		


  <article>
<hgroup>
<h1><a href="https://blog.heroku.com/archives/2014/8/7/heroku-button">Introducing DigitalOcean Button</a></h1>
<h2 class="byline">
Posted <time title="2014-08-07 16:59:23 UTC" class="timeago" datetime="2014-08-07T16:59:23Z">4 months ago</time> by David and Nan
</h2>
</hgroup>
<div class="post_body">
<p>At Heroku, we want to make the process of deploying, running and 
updating code simple and easy. To that end, we’re launching the DigitalOcean 
Button: a simple HTML or Markdown snippet that can be added to READMEs, 
blog posts and other places where code lives. Clicking a DigitalOcean Button 
will take you through a guided process to configure and deploy an app 
running the source code referenced by the button.</p>

<p>The best way to understand the DigitalOcean Button is to try one. Click the example button below to deploy a <a href="https://github.com/nanzhong/sample_app_rails_4">Ruby on Rails sample</a> project to an app running on your Heroku account:</p>

<p>
<a href="http://localhost:3001/droplets/new/?repo=nanzhong%2fsample_app_rails_4">
    <img style="max-width:100%;" alt="Deploy to DigitalOcean" src="https://raw.githubusercontent.com/nanzhong/sample_app_rails_4/master/app/assets/images/deploy_to_do_button.png"></img>
</a>
</p>

<h2 class="anchored">
  <a name="how-it-works" href="#how-it-works">How it works</a>
</h2>

<pre><code>
  [![Deploy to DigitalOcean](https://digitalocean.com/deploy.png)](https://cloud.digitalocean.com/droplets/new/?repo=username%2frepo)
</code></pre>

<div class="meta">
</div>
</div>
</article>



    <div id="feeds">

  <p>
  Browse the <a href="https://blog.heroku.com/archives">blog archives</a> or
  subscribe to the <a title="Full-text RSS feed" href="http://feeds2.feedburner.com/heroku">full-text</a> feed.
  </p>

</div>

	</div>

  <footer class="main-footer">
  <div class="wrapper">
    <h1 class="brand"><a href="https://www.heroku.com/home" class="logo">Heroku</a></h1>

    <nav>
      <ul class="primary">
        <li><a href="https://www.heroku.com/pricing">Pricing</a></li>
        <li><a href="https://www.heroku.com/critical">Critical Apps</a></li>
        <li><a href="https://addons.heroku.com/">Add-ons</a></li>
        <li><a href="https://postgres.heroku.com/">Postgres</a></li>
        <li><a href="https://partners.heroku.com/">Partners</a></li>
        <li><a href="https://devcenter.heroku.com/">Documentation</a></li>
        <li><a href="https://help.heroku.com/">Help</a></li>
        <li><a href="https://status.heroku.com/">Status</a></li>
      </ul>

      <ul class="secondary">
        <li><a href="https://www.heroku.com/about">About Heroku</a></li>
        <li><a href="https://www.heroku.com/contact">Contact</a></li>
        <li><a href="https://jobs.heroku.com/">Careers</a></li>
        <li><a href="https://www.heroku.com/customers">Customers</a></li>
        <li><a href="https://blog.heroku.com/">Blog</a></li>
        <li><a href="http://events.heroku.com/">Events</a></li>
      </ul>

      <ul class="tertiary">
        <li><a href="https://www.heroku.com/home">heroku.com</a></li>
        <li><a href="https://www.heroku.com/policy/tos">Legal</a></li>
        <li><a href="https://www.heroku.com/policy/privacy">Privacy Policy</a></li>
      </ul>
    </nav>
  </div>
</footer>


<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "js-agent.newrelic.com/nr-100.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-5.newrelic.com","0128bee961","1492710","elhcREAKWlpUQEpEWkpDHUNaCkE=",16,15,new Date().getTime(),"","","","",""]);</script>

<script src="https://blog.heroku.com/assets/nr-100.js" type="text/javascript"></script><script src="https://blog.heroku.com/assets/0128bee961" type="text/javascript"></script></body></html>
